@model ColorName.Models.RgbColor

@{
    ViewData["Title"] = "Color Name";
}

<div class="container" id="app">
    <div class="row justify-content-center">
        <div class="col align-self-center">
            <div class="card">
                @* jQuery Unobtrusive Validation needs this to be a form... *@
                <form class="card-body" id="color">
                    <h1 class="card-title">@ViewData["Title"]</h1>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Red</span>
                        <input asp-for="Red"
                               type="text"
                               class="form-control"
                               v-on:keyup="validateForm"
                               v-model.lazy="red">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Green</span>
                        <input asp-for="Green"
                               type="text"
                               class="form-control"
                               v-on:keyup="validateForm"
                               v-model.lazy="green">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Blue</span>
                        <input asp-for="Blue"
                               type="text"
                               class="form-control"
                               v-on:keyup="validateForm"
                               v-model.lazy="blue">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input type="text"
                               class="form-control"
                               readonly
                               v-model="name">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <environment include="Development">
        <script src="~/debug/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/site.min.js" asp-append-version="true"></script>
    </environment>
}